<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/tmpl}">
<head>
    <title>Lessons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <li class="list-group-item d-flex">
        <a class = "btn btn-primary btn-sm" href="/products">Innkaupalisti</a>
        <a class = "btn btn-success btn-sm" href="/addproduct">Bæta við vöru</a>
        <a class = "btn btn-danger btn-sm" href="/deleteproduct">Henda vöru úr lista</a>
    </li>

    <h2>Vörur</h2>
    <div>
        <table>
            <tr>
                <th> Vara </th>
                <th> Henda </th>
            </tr>
            <span th:each="prod : ${products}">
                <tr>
                    <td th:text="${prod.getName()}"></td>
                    <td><a class = "btn btn-danger btn-sm" th:href="@{/products/delete/{id}(id = ${prod.getId()})}">Henda</a></td>
                </tr>
            </span>
        </table>
    </div>
</div>
</body>
</html>