<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/tmpl}">
<head>
    <title>Lessons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <li class="list-group-item d-flex">
        <a class = "btn btn-primary btn-sm" href="/products">Innkaupalisti</a>
        <a class = "btn btn-success btn-sm" href="/addproduct">Bæta við vöru</a>
        <a class = "btn btn-danger btn-sm" href="/deleteproduct">Henda vöru úr lista</a>
    </li>

    <h2>Í innkaupalista</h2>
    <div>
        <table>
            <tr>
                <th>Vara</th>
                <th> Taka úr innkaupalista </th>
            </tr>
            <span th:each="prod : ${products}">
                <tr th:if="${prod.isIsInShoppingList()}">
                    <td th:text="${prod.getName()}"></td>
                    <td><a class = "btn btn-warning btn-sm" th:href="@{/products/change/{id}(id = ${prod.getId()})}">Taka úr innkaupalista</a></td>
                </tr>
            </span>
        </table>
    </div>



    <h2>Ekki í innkaupalista</h2>
    <div>
        <table>
            <tr>
                <th>Vara</th>
                <th> Setja í innkaupalista </th>
            </tr>
            <span th:each="prod : ${products}">
                <tr th:if="${!prod.isIsInShoppingList()}">
                    <td th:text="${prod.getName()}"></td>
                    <td><a class = "btn btn-success btn-sm" th:href="@{/products/change/{id}(id = ${prod.getId()})}">Setja í innkaupalista</a></td>
                </tr>
            </span>
        </table>
    </div>





</div>
</body>
</html>